<html>
<head>

</head>
<body >
<h2>Total Blocks in Blockchain :</h2>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Block :</div>
  <div class="card-body">
    <h4 class="card-title">{{{chain}}}</h4>
  </div>

</body>
</body>
</html>
