<html>
<head>
</head>
<body >
<div align="center">

  <div align="center"><h2 style="color:grey"><b>Buy Property :</h2></b></div>
  </div>
 <form method="post" action="/buy">
<div class="form-group">
 <h3 style="color:rgb(129, 77, 28)">Enter Owners Wallet Addresss:</h3>
  <input type="text" class="form-control input-normal" placeholder="Enter the beneficiary address" name="recipient">
</div>

<div class="form-group">
 <h3 style="color:rgb(129, 77, 28)">Amount :</h3>
  <input type="text" class="form-control" placeholder="Enter the amount specified by owner" name="amount">
</div>

<div class="form-group">
 <h3 style="color:rgb(129, 77, 28)">Property ID :</h3>
  <input type="text" class="form-control" placeholder="Enter the unique ID of property" name="propid">
</div>
<div align="center"><button style ="font-size: 20px;" type="Submit" class="btn btn-outline-success">Buy Property 💵</button></div>

</form>



</body>

</html>
